---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$base-font-size:   21px;
$base-font-weight: 100;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #ebe7d3;
$background-color: #22231d;
$code-background:  #191611;
$brand-color:      #EB7000;

$grey-color: #b4b4b4;
$grey-color-light: lighten($grey-color, 20%);
$grey-color-dark:  darken($grey-color, 40%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "_assets/arrow",
        "_assets/buttons",
        "base",
        "layout",
        "syntax-highlighting"
;
