
$outline-height: 5px;


.maz-list-item {
  float: left;
}

.nav {
  display: inline-block;
  margin-top: 5px;
}

.navbar-outer {
  text-align: center;
  display: inherit;
  margin: 0 -20px;
}

.navbar-outline {
  background-color: $secondary-color;
  height: $outline-height;
}

.navbar-list-item {
  @extend .maz-list-item;

  width: 150px;
  background-color: transparent;
  font-size: 30pt;
}

.navbar-list-item-active {
  @extend .navbar-list-item;

  a {
    color: $tertiary-color;
  }
}

.navbar-list-item-active-outline {
  @extend .navbar-outline;

  background-color: $tertiary-color;
  margin-top: -10px;
}

.navbar-inner {
  display: inline-block;
  background: none;
  border: none;
  min-height: 0px;

  @include single-box-shadow(none);
}

/* Social sharing annoying white background removal */
.nav>li>a:hover {
  background-color: transparent;
}

.social-container {
  text-align: center;
  margin-bottom: 80px;
}

.social-navbar {
  display: inline-block;
}

.social-list-item {
  @extend .maz-list-item;

  margin: 0 0.4em;
  font-size: 2em;
}


@media (max-width: 979px) {
  .navbar-list-item {
    // width: 150px;
  }
}

@media (max-width: 767px) {
  .navbar-list-item {
    width: 120px;
    font-size: 24pt;
  }
}

@media (max-width: 480px) {

  .navbar-list-item {
    width: 90px;
    font-size: 20pt;
  }
}
