
<div class="main-header-outer">
    <div class="branding-container">
        <span class="maz">MAZ</span><span class="dev">DEV</span><span class="dir">DIR</span>
    </div>
    <div class="main-header-subtitle-container">
        <p>Digital<br/>Nomad's<br>Journal</p>
    </div>
    <div class="main-header-buttons-container">
        <a class="github">Github</a>
        <a class="twitter">Twitter</a>
    </div>
    <div class="main-header-arrow-container">
        <i class="main-header-arrow"><i></i><i></i><i></i><i></i><i></i></i>
    </div>
</div>