<div class="jumbotron">
    <div class="container">
        <h1 class="maz-blog-header">
            <span class="maz-blog-header-first">MAZYOD'S</span>
            <div class="maz-blog-header-second" ><span class="maz-blog-header-dev">DEV</span><span>DIARY</span></div>
        </h1>
        <h3 class="maz-blog-subheader">
            {% if site.subtitle %}
                {{ site.subtitle }}
            {% else %}
                Here are some thoughts of mine.
            {% endif %}
        </h3>
    </div>
</div>
