{% if DISQUS_SITENAME %}
<section class="mt-3">
  <h1>Comments</h1>
  <div id="disqus_thread"></div>
  <script>
      r disqus_config = function () {
        is.page.url = '{{ SITEURL }}/{{ article.url }}';
        is.page.identifier = '{{ SITEURL }}/{{ article.url }}';
      

      unction () {
        r d = document, s = d.createElement('script');

        src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        setAttribute('data-timestamp', +new Date());
        .head || d.body).appendChild(s);
      ();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
      comments powered by Disqus.
    </a>
  </noscript>
</section>
{% else %}
{% endif %}