---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
<section style="margin-bottom: 2em">
  <div style="overflow: hidden;">
    {% if page.previous.url %}
    <div style="float: left;"><a href="{{ page.previous.url }}" title="{{page.previous.title}}">&laquo; {{page.previous.title}}</a></div>
    {% endif %}
    {% if page.next.url %}
    <div style="float: right;"><a href="{{ page.next.url }}" title="{{page.next.title}}">{{page.next.title}} &raquo;</a></div>
    {% endif %}
  </div>
</section>
{% if site.disqus_short_name %}
<section>
  <h1>Comments</h1>
  <div id="disqus_thread" aria-live="polite">
    <noscript>
      Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div>
</section>
{% endif %}
{% include post-footer.html %}