// Add your custom styling here.

@import "imgcaption";

/* The blog header - MAZYOD DEVDIARY */
.maz-blog-header-container {
  padding: 2em 0;
}

.maz-blog-header {
  font-size: 58px;
  text-align: center;
  line-height: 76px;

  /* The first part of the header, MAZYOD */
  .maz-blog-header-first {}

  /* The second part of the header DEVDIARY */
  .maz-blog-header-second {
    /* Since dev and diary are two separate elements,
     we group them using inline-block */
    display: inline-block;
    margin-left: 8px;
  }

  /* The dev word in the header */
  .maz-blog-header-dev {
    display: inline-block;

    margin-top: 5px;
    margin-right: -7px;
    vertical-align: top;

    font-size: 0.82em;
    font-family: "Press Start 2P";

    color: #a6e22e;
  }
}

@media only screen and (min-width: 748px) {
  /* Reduce size of some fonts on smaller screens */
  .maz-blog-header {
    font-size: 70px;
  }
}

html {
    height:100%;
}

.maz-blog-header {
    min-height:100%;
}

/* Blog subtitle - Blabbering on, and on, and on... */
.maz-blog-subheader {
  text-align: center;
}

